html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 254, 254);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
  background-color: rgb(189, 206, 237);
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 15px;
  margin: 5px;
}

.apiresponse {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

